# Pandas
```index```
+ [データサイエンスのためのPython入門⑩〜PandasインストールからSeriesの使い方〜](https://datawokagaku.com/pandas_series/)
+ [データサイエンスのためのPython入門11〜PandasのDataFrameを作る．CSVファイルを読み込む〜](https://datawokagaku.com/dataframe/)
+ [データサイエンスのためのPython入門12〜DataFrameの基本的な使い方(head, describe, Seriesの取得など)〜](https://datawokagaku.com/dataframe_howto_1/)
+ [データサイエンスのためのPython入門13〜DataFrameのフィルタ操作の基本(超重要)〜](https://datawokagaku.com/dataframe_filter/)
+ [データサイエンスのためのPython入門14〜DataFrameの欠損値NaNに対応する〜](https://datawokagaku.com/dataframe_nan/)
+ [データサイエンスのためのPython入門15〜DataFrameのgroupbyをマスターする〜](https://datawokagaku.com/dataframe_groupby/)
+ [データサイエンスのためのPython入門16〜DataFrameのテーブル結合を完全解説(merge, join, concat)〜](https://datawokagaku.com/dataframe_merge/)
+ [データサイエンスのためのPython入門17〜DataFrameの重要関数(apply, unique, value_counts)を超わかりやすく解説〜](https://datawokagaku.com/dataframe_apply/)
+ [データサイエンスのためのPython入門18〜DataFrameのその他頻出関数(to_csv, iterrows, sort_values)を解説〜](https://datawokagaku.com/dataframe_func1/)
+ [データサイエンスのためのPython入門19〜DataFrameのその他頻出関数(pivot_table, xs)を解説〜](https://datawokagaku.com/dataframe_func2/)

---
## 10: インストールからSeriesの使い方
    Pandasはデータ操作や解析を目的として作られたPythonライブラリで、NumPyをなかで使っている。
    とりわけ表形式のデータ処理が得意で、エクセルで処理するようなことをPythonでできる。

### | Pandasをimport

In [2]:
import pandas as pd

In [5]:
# Pandasの所在確認
pd.__file__

'/Users/t/.pyenv/versions/3.8.5/lib/python3.8/site-packages/pandas/__init__.py'

### | Seriesを使う
    PandasにあるSeriesというクラスを使う。
    Series：表形式のデータの各行、カラムを切り取ったデータを表すデータ形式

<img src='https://datawokagaku.com/wp-content/uploads/2020/01/dataframe_yougo.png' width=65%>

+ Table(テーブル):表形式のデータ
+ header(ヘッダー):表の一番うえに並んでいるの
+ column(カラム):ヘッダーを構成する一つ一つ
+ row(ロウ):表には色々なデータがずらっとヘッダーのカラム順に合わせて並んでいる一行一行
+ recode(レコード):行のこと

<img src='https://datawokagaku.com/wp-content/uploads/2020/01/dataframe_series.png' width=65%>

+ DataFrame(データフレーム):Pandasでは、この表をDataFrameというデータ構造で扱う。
+ Series(シリーズ):各行をSeriesというデータ構造を使って扱う。（縦に切り取ってもSeriesになる）
（つまり，Seriesというデータ構造が集まってDataFrameというデータ構造になるイメージ）

In [16]:
# 作り方は簡単で、dictionaryを作ってそれをpd.Series()に入れるだけ!
data = {
    'name':'John',
    'sex':'mael',
    'age':22
}

john_s = pd.Series(data)
print(john_s)
print('\n Johns age is {}.'.format(john_s['age']))

name    John
sex     mael
age       22
dtype: object

 Johns age is 22.

In [12]:
# NumPy Arraysを使って作ることも可能
import numpy as np
array = np.array([100, 200, 300])
array = pd.Series(array)
print(array)

0    100
1    200
2    300
dtype: int64

In [13]:
array = array.rename(index={0:'a',1:'b',2:'c'})
print(array)

a    100
b    200
c    300
dtype: int64

## 11: DataFrameを作る CSVファイルを読み込む

### | DataFrameの作り方

#### - ndarrayから作る

In [3]:
import pandas as pd 
import numpy as np


ndarray = np.random.randint(5, size=(5, 4))
pd.DataFrame(data=ndarray)

   0  1  2  3
0  0  3  2  4
1  4  3  1  0
2  2  1  4  1
3  2  2  1  2
4  1  4  0  3

In [4]:
columns = ['a', 'b', 'c', 'd']
index = np.arange(0, 50, 10)
pd.DataFrame(data=ndarray, index=index, columns=columns)

    a  b  c  d
0   0  3  2  4
10  4  3  1  0
20  2  1  4  1
30  2  2  1  2
40  1  4  0  3

#### - dictionaryから作る

In [5]:
data1 = {
    'name':'John',
    'sex':'male',
    'age':22
}
data2 = {
    'name':'Zack',
    'sex':'male',
    'age':30
}
data3 = {
    'name':'Emily',
    'sex':'female',
    'age':32
}
pd.DataFrame([data1, data2, data3])

    name     sex  age
0   John    male   22
1   Zack    male   30
2  Emily  female   32

#### - ファイルから読み込む

In [ ]:
pd.read_csv('url')

## 12: DataFrameの基本的操作(head, describe, Seriesの取得など)

## 13: DataFrameのフィルタ操作の基本(超重要)

## 14: DataFrameの欠損値NaNに対応

## 15: DataFrameのgroupby

## 16: DataFrameのテーブル結合(merge, join, concat)

## 17: DataFrameの重要関数(apply, unique, value_counts)

## 18: DataFrameのその他頻出関数(to_csv, iterrows, sort_values)

## 19: DataFrameのその他頻出関数(pivot_table, xs)