In [ ]:
# Google Colaboratoryを使用する場合は、下記のコメントアウトを外し、実行してください

In [ ]:
# # 下記セルを実行すると、authorization codeの入力を求められます。
# # 出力されたリンク先をクリックし、Googleアカウントにログインし、
# # authorization codeをコピーし、貼り付けをおこなってください。
# import os
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
# working_dir = 'MLSys_100Knocks' #　※※自分で作成したフォルダパスが異なる場合こちらを変更してください。※※
# path = f'/content/drive/MyDrive/{working_dir}/本章/1章'
# os.chdir(path)

# １章 分析に向けた準備を行う１０本ノック

ここでは、あるピザチェーンの売上の推移を分析していきます。  
データの中身を理解し、分析しやすい形に加工していくプロセスを学びます。

### ノック１：データを全て読み込んでみよう

> `cf.`
>
> + [マスタデータ、トランザクションデータとは｜データ分析用語を解説 - GiXo](https://www.gixo.jp/blog/12341/)

In [1]:
import pandas as pd

# マスタデータ
df_area = pd.read_csv("input/m_area.csv")
df_store = pd.read_csv("input/m_store.csv")

# トランザクションデータ
df_4 = pd.read_csv("input/tbl_order_202004.csv")
df_5 = pd.read_csv("input/tbl_order_202005.csv")
df_6 = pd.read_csv("input/tbl_order_202006.csv")

In [2]:
df_area.head(3)

  area_cd wide_area narrow_area
0      TK        東京          東京
1      KN       神奈川         神奈川
2      CH        千葉          千葉

In [3]:
df_4.head(3)

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,79339111,49,C26387220,50,67393872,2020-04-01 11:00:00,2020-04-01 11:18:00,1,4144,1
1,18941733,85,C48773811,26,91834983,2020-04-01 11:00:00,2020-04-01 11:22:00,0,2877,2
2,56217880,76,C66287421,36,64409634,2020-04-01 11:00:00,2020-04-01 11:15:00,0,2603,2

In [4]:
# カラムを確認
print("Columns are {}.  \n{}".format(len(df_4.columns), df_4.columns))

Columns are 10.
Index(['order_id', 'store_id', 'customer_id', 'coupon_cd', 'sales_detail_id',
       'order_accept_date', 'delivered_date', 'takeout_flag', 'total_amount',
       'status'],
      dtype='object')

### ノック２：データを結合（ユニオン）してみよう

> `cf.`
>
> + [<Python, pandas> concatで連結した時にindexを再度振り直す。 - ねこゆきのメモ](https://nekoyukimmm.hatenablog.com/entry/2015/10/20/161110)

In [5]:
df_all = pd.concat([df_4, df_5, df_6], ignore_index=True)
df_all

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,79339111,49,C26387220,50,67393872,2020-04-01 11:00:00,2020-04-01 11:18:00,1,4144,1
1,18941733,85,C48773811,26,91834983,2020-04-01 11:00:00,2020-04-01 11:22:00,0,2877,2
2,56217880,76,C66287421,36,64409634,2020-04-01 11:00:00,2020-04-01 11:15:00,0,2603,2
3,28447783,190,C41156423,19,73032165,2020-04-01 11:00:00,2020-04-01 11:16:00,0,2732,2
4,32576156,191,C54568117,71,23281182,2020-04-01 11:00:00,2020-04-01 11:53:00,0,2987,2
...,...,...,...,...,...,...,...,...,...,...
707695,90872494,191,C35992970,46,51884378,2020-06-30 21:58:58,2020-06-30 22:43:58,1,2112,1
707696,30167637,35,C53126526,88,6295273,2020-06-30 21:58:58,2020-06-30 22:36:58,0,4462,2
707697,85345862,118,C25099070,32,15733308,2020-06-30 21:58:58,2020-06-30 22:42:58,0,3865,2
707698,73038887,100,C27421314,84,67608099,2020-06-30 21:58:58,2020-06-30 22:21:58,0,3319,2
707699,14799648,39,C90614204,5,13300147,2020-06-30 21:58:58,2020-06-30 22:38:58,0,2064,2

In [6]:
# ユニオン結果の検証
len(df_all) == len(df_4) +len(df_5) + len(df_6)

True

### ノック３：フォルダ内のファイル名を一覧化してみよう

In [7]:
import os

# カレントディレクトリを取得
current_dir = os.getcwd()
current_dir

'/Users/t/Documents/JupyterLab/ml_academic/various/offline/books/MLSys_100Knocks/本章/1章'

In [8]:
# ディレクトリ内一覧取得
os.listdir(current_dir)

['.DS_Store',
 'input',
 '1章_分析に向けた準備を行う10本ノック_answer.ipynb',
 '.ipynb_checkpoints',
 '1章_分析に向けた準備を行う10本ノック.ipynb']

In [10]:
# tbl_orderに限って取得用のKey作成
tbl_order_file = os.path.join(current_dir, "input/tbl_order_*.csv")
tbl_order_file

'/Users/t/Documents/JupyterLab/ml_academic/various/offline/books/MLSys_100Knocks/本章/1章/input/tbl_order_*.csv'

In [11]:
# Keyを起点にフルパスを取得
import glob
tbl_order_files = glob.glob(tbl_order_file)
tbl_order_files

['/Users/t/Documents/JupyterLab/ml_academic/various/offline/books/MLSys_100Knocks/本章/1章/input/tbl_order_202006.csv',
 '/Users/t/Documents/JupyterLab/ml_academic/various/offline/books/MLSys_100Knocks/本章/1章/input/tbl_order_202004.csv',
 '/Users/t/Documents/JupyterLab/ml_academic/various/offline/books/MLSys_100Knocks/本章/1章/input/tbl_order_202005.csv']

### ノック４：複数データを結合（ユニオン）してみよう

In [12]:
# 先ずは1行から！
order_all = pd.DataFrame()

file = tbl_order_files[0]
file_name = file.split("/")[-1]
order_data = pd.read_csv(file)
print(f"{file_name}: {len(order_data)}")

order_all = pd.concat([order_all, order_data], ignore_index=True)
order_all.head(3)

tbl_order_202006.csv: 233301

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,16514392,64,C44271355,49,56527968,2020-06-01 11:00:00,2020-06-01 11:55:00,0,2732,2
1,28342394,12,C98307866,98,46924304,2020-06-01 11:00:00,2020-06-01 11:52:00,0,2064,2
2,29799587,174,C59484037,45,47054474,2020-06-01 11:00:00,2020-06-01 11:25:00,0,3900,2

In [13]:
# For文で繰返し処理
order_all = pd.DataFrame()

for file in tbl_order_files:
    file_name = file.split("/")[-1]
    order_data = pd.read_csv(file)
    print(f"{file_name}: {len(order_data)}")

    order_all = pd.concat([order_all, order_data], ignore_index=True)

tbl_order_202006.csv: 233301
tbl_order_202004.csv: 233260
tbl_order_202005.csv: 241139

In [14]:
order_all

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,16514392,64,C44271355,49,56527968,2020-06-01 11:00:00,2020-06-01 11:55:00,0,2732,2
1,28342394,12,C98307866,98,46924304,2020-06-01 11:00:00,2020-06-01 11:52:00,0,2064,2
2,29799587,174,C59484037,45,47054474,2020-06-01 11:00:00,2020-06-01 11:25:00,0,3900,2
3,96960753,23,C57278332,70,60848267,2020-06-01 11:00:00,2020-06-01 11:45:00,0,2750,2
4,52147209,7,C36890849,80,20633593,2020-06-01 11:00:00,2020-06-01 11:23:00,0,2328,2
...,...,...,...,...,...,...,...,...,...,...
707695,47039360,154,C39765066,90,27121351,2020-05-31 21:58:58,2020-05-31 22:42:58,1,2363,1
707696,61054188,94,C19465010,41,61513298,2020-05-31 21:58:58,2020-05-31 22:40:58,0,2112,2
707697,45288914,11,C23883838,40,65359139,2020-05-31 21:58:58,2020-05-31 22:38:58,0,3838,2
707698,41608372,149,C48350551,43,42138977,2020-05-31 21:58:58,2020-05-31 22:52:58,0,1899,2
707699,40316733,169,C49087342,61,59737067,2020-05-31 21:58:58,2020-05-31 22:08:58,0,3901,2

### ノック５：データの統計量を確認しよう

### ノック６：不要なデータを除外しよう

### ノック７：マスタデータを結合（ジョイン）してみよう

### ノック８：マスタが存在しないコードに名称を設定しよう

### ノック９：分析基礎テーブルを出力してみよう

### ノック１０：セルを整理して使いやすくしよう