In [ ]:
# Google Colaboratory„Çí‰ΩøÁî®„Åô„ÇãÂ†¥Âêà„ÅØ„ÄÅ‰∏ãË®ò„ÅÆ„Ç≥„É°„É≥„Éà„Ç¢„Ç¶„Éà„ÇíÂ§ñ„Åó„ÄÅÂÆüË°å„Åó„Å¶„Åè„Å†„Åï„ÅÑ

In [ ]:
# # ‰∏ãË®ò„Çª„É´„ÇíÂÆüË°å„Åô„Çã„Å®„ÄÅauthorization code„ÅÆÂÖ•Âäõ„ÇíÊ±Ç„ÇÅ„Çâ„Çå„Åæ„Åô„ÄÇ
# # Âá∫Âäõ„Åï„Çå„Åü„É™„É≥„ÇØÂÖà„Çí„ÇØ„É™„ÉÉ„ÇØ„Åó„ÄÅGoogle„Ç¢„Ç´„Ç¶„É≥„Éà„Å´„É≠„Ç∞„Ç§„É≥„Åó„ÄÅ
# # authorization code„Çí„Ç≥„Éî„Éº„Åó„ÄÅË≤º„Çä‰ªò„Åë„Çí„Åä„Åì„Å™„Å£„Å¶„Åè„Å†„Åï„ÅÑ„ÄÇ
# import os
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
# working_dir = 'MLSys_100Knocks' #„ÄÄ‚Äª‚ÄªËá™ÂàÜ„Åß‰ΩúÊàê„Åó„Åü„Éï„Ç©„É´„ÉÄ„Éë„Çπ„ÅåÁï∞„Å™„ÇãÂ†¥Âêà„Åì„Å°„Çâ„ÇíÂ§âÊõ¥„Åó„Å¶„Åè„Å†„Åï„ÅÑ„ÄÇ‚Äª‚Äª
# path = f'/content/drive/MyDrive/{working_dir}/Êú¨Á´†/1Á´†'
# os.chdir(path)

# üçï ÔºëÁ´† ÂàÜÊûê„Å´Âêë„Åë„ÅüÊ∫ñÂÇô„ÇíË°å„ÅÜÔºëÔºêÊú¨„Éé„ÉÉ„ÇØ

„Åì„Åì„Åß„ÅØ„ÄÅ„ÅÇ„Çã„Éî„Ç∂„ÉÅ„Çß„Éº„É≥„ÅÆÂ£≤‰∏ä„ÅÆÊé®Áßª„ÇíÂàÜÊûê„Åó„Å¶„ÅÑ„Åç„Åæ„Åô„ÄÇ  
„Éá„Éº„Çø„ÅÆ‰∏≠Ë∫´„ÇíÁêÜËß£„Åó„ÄÅÂàÜÊûê„Åó„ÇÑ„Åô„ÅÑÂΩ¢„Å´Âä†Â∑•„Åó„Å¶„ÅÑ„Åè„Éó„É≠„Çª„Çπ„ÇíÂ≠¶„Å≥„Åæ„Åô„ÄÇ

### „Éé„ÉÉ„ÇØÔºëÔºö„Éá„Éº„Çø„ÇíÂÖ®„Å¶Ë™≠„ÅøËæº„Çì„Åß„Åø„Çà„ÅÜ

> `cf.`
>
> + [„Éû„Çπ„Çø„Éá„Éº„Çø„ÄÅ„Éà„É©„É≥„Ç∂„ÇØ„Ç∑„Éß„É≥„Éá„Éº„Çø„Å®„ÅØÔΩú„Éá„Éº„ÇøÂàÜÊûêÁî®Ë™û„ÇíËß£Ë™¨ - GiXo](https://www.gixo.jp/blog/12341/)

In [1]:
import pandas as pd

# „Éû„Çπ„Çø„Éá„Éº„Çø
df_area = pd.read_csv("input/m_area.csv")
df_store = pd.read_csv("input/m_store.csv")

# „Éà„É©„É≥„Ç∂„ÇØ„Ç∑„Éß„É≥„Éá„Éº„Çø
df_4 = pd.read_csv("input/tbl_order_202004.csv")
df_5 = pd.read_csv("input/tbl_order_202005.csv")
df_6 = pd.read_csv("input/tbl_order_202006.csv")

In [2]:
df_area.head(3)

  area_cd wide_area narrow_area
0      TK        Êù±‰∫¨          Êù±‰∫¨
1      KN       Á•ûÂ•àÂ∑ù         Á•ûÂ•àÂ∑ù
2      CH        ÂçÉËëâ          ÂçÉËëâ

In [3]:
df_4.head(3)

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,79339111,49,C26387220,50,67393872,2020-04-01 11:00:00,2020-04-01 11:18:00,1,4144,1
1,18941733,85,C48773811,26,91834983,2020-04-01 11:00:00,2020-04-01 11:22:00,0,2877,2
2,56217880,76,C66287421,36,64409634,2020-04-01 11:00:00,2020-04-01 11:15:00,0,2603,2

In [4]:
# „Ç´„É©„É†„ÇíÁ¢∫Ë™ç
print("Columns are {}.  \n{}".format(len(df_4.columns), df_4.columns))

Columns are 10.
Index(['order_id', 'store_id', 'customer_id', 'coupon_cd', 'sales_detail_id',
       'order_accept_date', 'delivered_date', 'takeout_flag', 'total_amount',
       'status'],
      dtype='object')

### „Éé„ÉÉ„ÇØÔºíÔºö„Éá„Éº„Çø„ÇíÁµêÂêàÔºà„É¶„Éã„Ç™„É≥Ôºâ„Åó„Å¶„Åø„Çà„ÅÜ

> `cf.`
>
> + [<Python, pandas> concat„ÅßÈÄ£Áµê„Åó„ÅüÊôÇ„Å´index„ÇíÂÜçÂ∫¶ÊåØ„ÇäÁõ¥„Åô„ÄÇ - „Å≠„Åì„ÇÜ„Åç„ÅÆ„É°„É¢](https://nekoyukimmm.hatenablog.com/entry/2015/10/20/161110)

In [5]:
df_all = pd.concat([df_4, df_5, df_6], ignore_index=True)
df_all

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,79339111,49,C26387220,50,67393872,2020-04-01 11:00:00,2020-04-01 11:18:00,1,4144,1
1,18941733,85,C48773811,26,91834983,2020-04-01 11:00:00,2020-04-01 11:22:00,0,2877,2
2,56217880,76,C66287421,36,64409634,2020-04-01 11:00:00,2020-04-01 11:15:00,0,2603,2
3,28447783,190,C41156423,19,73032165,2020-04-01 11:00:00,2020-04-01 11:16:00,0,2732,2
4,32576156,191,C54568117,71,23281182,2020-04-01 11:00:00,2020-04-01 11:53:00,0,2987,2
...,...,...,...,...,...,...,...,...,...,...
707695,90872494,191,C35992970,46,51884378,2020-06-30 21:58:58,2020-06-30 22:43:58,1,2112,1
707696,30167637,35,C53126526,88,6295273,2020-06-30 21:58:58,2020-06-30 22:36:58,0,4462,2
707697,85345862,118,C25099070,32,15733308,2020-06-30 21:58:58,2020-06-30 22:42:58,0,3865,2
707698,73038887,100,C27421314,84,67608099,2020-06-30 21:58:58,2020-06-30 22:21:58,0,3319,2
707699,14799648,39,C90614204,5,13300147,2020-06-30 21:58:58,2020-06-30 22:38:58,0,2064,2

In [6]:
# „É¶„Éã„Ç™„É≥ÁµêÊûú„ÅÆÊ§úË®º
len(df_all) == len(df_4) +len(df_5) + len(df_6)

True

### „Éé„ÉÉ„ÇØÔºìÔºö„Éï„Ç©„É´„ÉÄÂÜÖ„ÅÆ„Éï„Ç°„Ç§„É´Âêç„Çí‰∏ÄË¶ßÂåñ„Åó„Å¶„Åø„Çà„ÅÜ

In [7]:
import os

# „Ç´„É¨„É≥„Éà„Éá„Ç£„É¨„ÇØ„Éà„É™„ÇíÂèñÂæó
current_dir = os.getcwd()
current_dir

'/Users/t/Documents/JupyterLab/ml_academic/various/offline/books/MLSys_100Knocks/Êú¨Á´†/1Á´†'

In [8]:
# „Éá„Ç£„É¨„ÇØ„Éà„É™ÂÜÖ‰∏ÄË¶ßÂèñÂæó
os.listdir(current_dir)

['.DS_Store',
 'input',
 '1Á´†_ÂàÜÊûê„Å´Âêë„Åë„ÅüÊ∫ñÂÇô„ÇíË°å„ÅÜ10Êú¨„Éé„ÉÉ„ÇØ_answer.ipynb',
 '.ipynb_checkpoints',
 '1Á´†_ÂàÜÊûê„Å´Âêë„Åë„ÅüÊ∫ñÂÇô„ÇíË°å„ÅÜ10Êú¨„Éé„ÉÉ„ÇØ.ipynb']

In [9]:
# tbl_order„Å´Èôê„Å£„Å¶ÂèñÂæóÁî®„ÅÆKey‰ΩúÊàê
tbl_order_file = os.path.join(current_dir, "input/tbl_order_*.csv")
tbl_order_file

'/Users/t/Documents/JupyterLab/ml_academic/various/offline/books/MLSys_100Knocks/Êú¨Á´†/1Á´†/input/tbl_order_*.csv'

In [10]:
# Key„ÇíËµ∑ÁÇπ„Å´„Éï„É´„Éë„Çπ„ÇíÂèñÂæó
import glob
tbl_order_files = glob.glob(tbl_order_file)
tbl_order_files

['/Users/t/Documents/JupyterLab/ml_academic/various/offline/books/MLSys_100Knocks/Êú¨Á´†/1Á´†/input/tbl_order_202006.csv',
 '/Users/t/Documents/JupyterLab/ml_academic/various/offline/books/MLSys_100Knocks/Êú¨Á´†/1Á´†/input/tbl_order_202004.csv',
 '/Users/t/Documents/JupyterLab/ml_academic/various/offline/books/MLSys_100Knocks/Êú¨Á´†/1Á´†/input/tbl_order_202005.csv']

### „Éé„ÉÉ„ÇØÔºîÔºöË§áÊï∞„Éá„Éº„Çø„ÇíÁµêÂêàÔºà„É¶„Éã„Ç™„É≥Ôºâ„Åó„Å¶„Åø„Çà„ÅÜ

In [11]:
# ÂÖà„Åö„ÅØ1Ë°å„Åã„ÇâÔºÅ
order_all = pd.DataFrame()

file = tbl_order_files[0]
file_name = file.split("/")[-1]
order_data = pd.read_csv(file)
print(f"{file_name}: {len(order_data)}")

order_all = pd.concat([order_all, order_data], ignore_index=True)
order_all.head(3)

tbl_order_202006.csv: 233301

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,16514392,64,C44271355,49,56527968,2020-06-01 11:00:00,2020-06-01 11:55:00,0,2732,2
1,28342394,12,C98307866,98,46924304,2020-06-01 11:00:00,2020-06-01 11:52:00,0,2064,2
2,29799587,174,C59484037,45,47054474,2020-06-01 11:00:00,2020-06-01 11:25:00,0,3900,2

In [12]:
# ForÊñá„ÅßÁπ∞Ëøî„ÅóÂá¶ÁêÜ
order_all = pd.DataFrame()

for file in tbl_order_files:
    file_name = file.split("/")[-1]
    order_data = pd.read_csv(file)
    print(f"{file_name}: {len(order_data)}")

    order_all = pd.concat([order_all, order_data], ignore_index=True)

tbl_order_202006.csv: 233301
tbl_order_202004.csv: 233260
tbl_order_202005.csv: 241139

In [13]:
order_all

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,16514392,64,C44271355,49,56527968,2020-06-01 11:00:00,2020-06-01 11:55:00,0,2732,2
1,28342394,12,C98307866,98,46924304,2020-06-01 11:00:00,2020-06-01 11:52:00,0,2064,2
2,29799587,174,C59484037,45,47054474,2020-06-01 11:00:00,2020-06-01 11:25:00,0,3900,2
3,96960753,23,C57278332,70,60848267,2020-06-01 11:00:00,2020-06-01 11:45:00,0,2750,2
4,52147209,7,C36890849,80,20633593,2020-06-01 11:00:00,2020-06-01 11:23:00,0,2328,2
...,...,...,...,...,...,...,...,...,...,...
707695,47039360,154,C39765066,90,27121351,2020-05-31 21:58:58,2020-05-31 22:42:58,1,2363,1
707696,61054188,94,C19465010,41,61513298,2020-05-31 21:58:58,2020-05-31 22:40:58,0,2112,2
707697,45288914,11,C23883838,40,65359139,2020-05-31 21:58:58,2020-05-31 22:38:58,0,3838,2
707698,41608372,149,C48350551,43,42138977,2020-05-31 21:58:58,2020-05-31 22:52:58,0,1899,2
707699,40316733,169,C49087342,61,59737067,2020-05-31 21:58:58,2020-05-31 22:08:58,0,3901,2

### „Éé„ÉÉ„ÇØÔºïÔºö„Éá„Éº„Çø„ÅÆÁµ±Ë®àÈáè„ÇíÁ¢∫Ë™ç„Åó„Çà„ÅÜ

In [14]:
# Ê¨†ÊêçÂÄ§Á¢∫Ë™ç
order_all.isnull().sum()

order_id             0
store_id             0
customer_id          0
coupon_cd            0
sales_detail_id      0
order_accept_date    0
delivered_date       0
takeout_flag         0
total_amount         0
status               0
dtype: int64

In [15]:
# Áµ±Ë®àÈáèÁ¢∫Ë™ç
order_all.describe()

,order_id,store_id,coupon_cd,sales_detail_id,takeout_flag,total_amount,status
count,7.077000e+05,707700.000000,707700.000000,7.077000e+05,707700.000000,707700.000000,707700.000000
mean,5.000989e+07,103.934565,49.514363,5.000335e+07,0.259864,2960.651814,3.082908
std,2.889226e+07,86.374451,28.882605,2.885575e+07,0.438560,954.378771,2.836278
min,2.200000e+01,1.000000,0.000000,4.600000e+01,0.000000,698.000000,1.000000
25%,2.501247e+07,51.000000,25.000000,2.504502e+07,0.000000,2308.000000,2.000000
50%,4.999655e+07,99.000000,49.000000,5.004506e+07,0.000000,2808.000000,2.000000
75%,7.508014e+07,148.000000,75.000000,7.499707e+07,1.000000,3617.000000,2.000000
max,9.999980e+07,999.000000,99.000000,9.999965e+07,1.000000,5100.000000,9.000000

In [16]:
# Á∑èÈ°ç
order_all["total_amount"].describe()

count    707700.000000
mean       2960.651814
std         954.378771
min         698.000000
25%        2308.000000
50%        2808.000000
75%        3617.000000
max        5100.000000
Name: total_amount, dtype: float64

In [17]:
print(order_all["delivered_date"].max())
print(order_all["delivered_date"].min())
print(order_all["order_accept_date"].max())
print(order_all["order_accept_date"].min())

2020-06-30 22:55:56
2020-04-01 11:10:00
2020-06-30 21:58:58
2020-04-01 11:00:00

### „Éé„ÉÉ„ÇØÔºñÔºö‰∏çË¶Å„Å™„Éá„Éº„Çø„ÇíÈô§Â§ñ„Åó„Çà„ÅÜ

In [18]:
# Â∫óËàó„Éû„Çπ„Çø„Å´„ÅÇ„Çã„Éé„Ç§„Ç∫
df_store.tail()

     store_id store_name area_cd
192       193        Ê°êÁîüÂ∫ó      GU
193       194        È´òÂ¥éÂ∫ó      GU
194       195        È§®ÊûóÂ∫ó      GU
195       196        ÂâçÊ©ãÂ∫ó      GU
196       999       ‰øùÂÆàÊãÖÂΩì      TK

In [19]:
# „Éé„Ç§„Ç∫„Éá„Éº„Çø„ÅÆ„É¨„Ç≥„Éº„ÉâÊï∞Á¢∫Ë™ç
len(order_data[order_data["store_id"]==999])

1298

In [20]:
order_data = order_all.loc[order_all["store_id"] != 999]
order_data

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,16514392,64,C44271355,49,56527968,2020-06-01 11:00:00,2020-06-01 11:55:00,0,2732,2
1,28342394,12,C98307866,98,46924304,2020-06-01 11:00:00,2020-06-01 11:52:00,0,2064,2
2,29799587,174,C59484037,45,47054474,2020-06-01 11:00:00,2020-06-01 11:25:00,0,3900,2
3,96960753,23,C57278332,70,60848267,2020-06-01 11:00:00,2020-06-01 11:45:00,0,2750,2
4,52147209,7,C36890849,80,20633593,2020-06-01 11:00:00,2020-06-01 11:23:00,0,2328,2
...,...,...,...,...,...,...,...,...,...,...
707695,47039360,154,C39765066,90,27121351,2020-05-31 21:58:58,2020-05-31 22:42:58,1,2363,1
707696,61054188,94,C19465010,41,61513298,2020-05-31 21:58:58,2020-05-31 22:40:58,0,2112,2
707697,45288914,11,C23883838,40,65359139,2020-05-31 21:58:58,2020-05-31 22:38:58,0,3838,2
707698,41608372,149,C48350551,43,42138977,2020-05-31 21:58:58,2020-05-31 22:52:58,0,1899,2
707699,40316733,169,C49087342,61,59737067,2020-05-31 21:58:58,2020-05-31 22:08:58,0,3901,2

In [21]:
# Âøµ„ÅÆ„Åü„ÇÅÁµ±Ë®àÈáè„ÅÆÁ¢∫Ë™ç
order_data["total_amount"].describe()

count    703880.000000
mean       2959.949248
std         954.367273
min         698.000000
25%        2308.000000
50%        2808.000000
75%        3617.000000
max        5100.000000
Name: total_amount, dtype: float64

### „Éé„ÉÉ„ÇØÔºóÔºö„Éû„Çπ„Çø„Éá„Éº„Çø„ÇíÁµêÂêàÔºà„Ç∏„Éß„Ç§„É≥Ôºâ„Åó„Å¶„Åø„Çà„ÅÜ

In [22]:
order_data = pd.merge(order_data, df_store, on="store_id", how="left")
order_data

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd
0,16514392,64,C44271355,49,56527968,2020-06-01 11:00:00,2020-06-01 11:55:00,0,2732,2,Ë•øÊù±‰∫¨Â∫ó,TK
1,28342394,12,C98307866,98,46924304,2020-06-01 11:00:00,2020-06-01 11:52:00,0,2064,2,Ë•øËëõË•øÂ∫ó,TK
2,29799587,174,C59484037,45,47054474,2020-06-01 11:00:00,2020-06-01 11:25:00,0,3900,2,Êñ∞Â∫ßÂ∫ó,SA
3,96960753,23,C57278332,70,60848267,2020-06-01 11:00:00,2020-06-01 11:45:00,0,2750,2,Ê±üÊù±Â∫ó,TK
4,52147209,7,C36890849,80,20633593,2020-06-01 11:00:00,2020-06-01 11:23:00,0,2328,2,Êù±Â∞æ‰πÖÂ∫ó,TK
...,...,...,...,...,...,...,...,...,...,...,...,...
703875,47039360,154,C39765066,90,27121351,2020-05-31 21:58:58,2020-05-31 22:42:58,1,2363,1,ÂÖ•ÈñìÂ∫ó,SA
703876,61054188,94,C19465010,41,61513298,2020-05-31 21:58:58,2020-05-31 22:40:58,0,2112,2,ÈéåÂÄâÂ∫ó,KN
703877,45288914,11,C23883838,40,65359139,2020-05-31 21:58:58,2020-05-31 22:38:58,0,3838,2,Ê±üÊà∏Â∑ùÂ∫ó,TK
703878,41608372,149,C48350551,43,42138977,2020-05-31 21:58:58,2020-05-31 22:52:58,0,1899,2,ÊùæÊà∏Â∫ó,CH
703879,40316733,169,C49087342,61,59737067,2020-05-31 21:58:58,2020-05-31 22:08:58,0,3901,2,Áã≠Â±±Â∫ó,SA

In [23]:
order_data = pd.merge(order_data, df_area, on="area_cd", how="left")
order_data

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd,wide_area,narrow_area
0,16514392,64,C44271355,49,56527968,2020-06-01 11:00:00,2020-06-01 11:55:00,0,2732,2,Ë•øÊù±‰∫¨Â∫ó,TK,Êù±‰∫¨,Êù±‰∫¨
1,28342394,12,C98307866,98,46924304,2020-06-01 11:00:00,2020-06-01 11:52:00,0,2064,2,Ë•øËëõË•øÂ∫ó,TK,Êù±‰∫¨,Êù±‰∫¨
2,29799587,174,C59484037,45,47054474,2020-06-01 11:00:00,2020-06-01 11:25:00,0,3900,2,Êñ∞Â∫ßÂ∫ó,SA,ÂüºÁéâ,ÂüºÁéâ
3,96960753,23,C57278332,70,60848267,2020-06-01 11:00:00,2020-06-01 11:45:00,0,2750,2,Ê±üÊù±Â∫ó,TK,Êù±‰∫¨,Êù±‰∫¨
4,52147209,7,C36890849,80,20633593,2020-06-01 11:00:00,2020-06-01 11:23:00,0,2328,2,Êù±Â∞æ‰πÖÂ∫ó,TK,Êù±‰∫¨,Êù±‰∫¨
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703875,47039360,154,C39765066,90,27121351,2020-05-31 21:58:58,2020-05-31 22:42:58,1,2363,1,ÂÖ•ÈñìÂ∫ó,SA,ÂüºÁéâ,ÂüºÁéâ
703876,61054188,94,C19465010,41,61513298,2020-05-31 21:58:58,2020-05-31 22:40:58,0,2112,2,ÈéåÂÄâÂ∫ó,KN,Á•ûÂ•àÂ∑ù,Á•ûÂ•àÂ∑ù
703877,45288914,11,C23883838,40,65359139,2020-05-31 21:58:58,2020-05-31 22:38:58,0,3838,2,Ê±üÊà∏Â∑ùÂ∫ó,TK,Êù±‰∫¨,Êù±‰∫¨
703878,41608372,149,C48350551,43,42138977,2020-05-31 21:58:58,2020-05-31 22:52:58,0,1899,2,ÊùæÊà∏Â∫ó,CH,ÂçÉËëâ,ÂçÉËëâ
703879,40316733,169,C49087342,61,59737067,2020-05-31 21:58:58,2020-05-31 22:08:58,0,3901,2,Áã≠Â±±Â∫ó,SA,ÂüºÁéâ,ÂüºÁéâ

### „Éé„ÉÉ„ÇØÔºòÔºö„Éû„Çπ„Çø„ÅåÂ≠òÂú®„Åó„Å™„ÅÑ„Ç≥„Éº„Éâ„Å´ÂêçÁß∞„ÇíË®≠ÂÆö„Åó„Çà„ÅÜ

### „Éé„ÉÉ„ÇØÔºôÔºöÂàÜÊûêÂü∫Á§é„ÉÜ„Éº„Éñ„É´„ÇíÂá∫Âäõ„Åó„Å¶„Åø„Çà„ÅÜ

### „Éé„ÉÉ„ÇØÔºëÔºêÔºö„Çª„É´„ÇíÊï¥ÁêÜ„Åó„Å¶‰Ωø„ÅÑ„ÇÑ„Åô„Åè„Åó„Çà„ÅÜ