In [ ]:
# Google Colaboratoryを使用する場合は、下記のコメントアウトを外し、実行してください

In [ ]:
# # 下記セルを実行すると、authorization codeの入力を求められます。
# # 出力されたリンク先をクリックし、Googleアカウントにログインし、
# # authorization codeをコピーし、貼り付けをおこなってください。
# import os
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
# working_dir = 'MLSys_100Knocks' #　※※自分で作成したフォルダパスが異なる場合こちらを変更してください。※※
# path = f'/content/drive/MyDrive/{working_dir}/本章/2章'
# os.chdir(path)
# ! pip install japanize-matplotlib

# ２章 データを可視化し分析を行う１０本ノック

### ノック１１：データを読み込んで不要なものを除外しよう
> `cf.`
>
> + [pandasの使い方 〜列名や行名を取得する〜 - Pythonの勉強](http://mryksy.hatenablog.com/entry/2018/02/18/130343)

In [7]:
# データ読込
import pandas as pd
order_data = pd.read_csv("../chapter01/output/order_data.csv")
order_data

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd,wide_area,narrow_area,takeout_name,status_name
0,16514392,64,C44271355,49,56527968,2020-06-01 11:00:00,2020-06-01 11:55:00,0,2732,2,西東京店,TK,東京,東京,delivery,passed
1,28342394,12,C98307866,98,46924304,2020-06-01 11:00:00,2020-06-01 11:52:00,0,2064,2,西葛西店,TK,東京,東京,delivery,passed
2,29799587,174,C59484037,45,47054474,2020-06-01 11:00:00,2020-06-01 11:25:00,0,3900,2,新座店,SA,埼玉,埼玉,delivery,passed
3,96960753,23,C57278332,70,60848267,2020-06-01 11:00:00,2020-06-01 11:45:00,0,2750,2,江東店,TK,東京,東京,delivery,passed
4,52147209,7,C36890849,80,20633593,2020-06-01 11:00:00,2020-06-01 11:23:00,0,2328,2,東尾久店,TK,東京,東京,delivery,passed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703875,47039360,154,C39765066,90,27121351,2020-05-31 21:58:58,2020-05-31 22:42:58,1,2363,1,入間店,SA,埼玉,埼玉,takeout,payment
703876,61054188,94,C19465010,41,61513298,2020-05-31 21:58:58,2020-05-31 22:40:58,0,2112,2,鎌倉店,KN,神奈川,神奈川,delivery,passed
703877,45288914,11,C23883838,40,65359139,2020-05-31 21:58:58,2020-05-31 22:38:58,0,3838,2,江戸川店,TK,東京,東京,delivery,passed
703878,41608372,149,C48350551,43,42138977,2020-05-31 21:58:58,2020-05-31 22:52:58,0,1899,2,松戸店,CH,千葉,千葉,delivery,passed
703879,40316733,169,C49087342,61,59737067,2020-05-31 21:58:58,2020-05-31 22:08:58,0,3901,2,狭山店,SA,埼玉,埼玉,delivery,passed

> この章での分析は`金額がメイン`となるためそれらを除外しますが、<br>
> 注文回数やキャンセル回数を見るなど、分析の視点によっては含めたままの状態が望ましい場合もあります。<br>
> どのデータをどの時点で除外するかの考慮はとても大事で、欲しかった情報が早い段階で削除されていた、ということもよくあります（吟味は大切）

In [8]:
# 不要なものを除外( status １か２を指定して格納＝stauts 0:reception と9:cancel は除外)
order_data = order_data.loc[(order_data["status"] == 1)|(order_data["status"] == 2)]
order_data

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd,wide_area,narrow_area,takeout_name,status_name
0,16514392,64,C44271355,49,56527968,2020-06-01 11:00:00,2020-06-01 11:55:00,0,2732,2,西東京店,TK,東京,東京,delivery,passed
1,28342394,12,C98307866,98,46924304,2020-06-01 11:00:00,2020-06-01 11:52:00,0,2064,2,西葛西店,TK,東京,東京,delivery,passed
2,29799587,174,C59484037,45,47054474,2020-06-01 11:00:00,2020-06-01 11:25:00,0,3900,2,新座店,SA,埼玉,埼玉,delivery,passed
3,96960753,23,C57278332,70,60848267,2020-06-01 11:00:00,2020-06-01 11:45:00,0,2750,2,江東店,TK,東京,東京,delivery,passed
4,52147209,7,C36890849,80,20633593,2020-06-01 11:00:00,2020-06-01 11:23:00,0,2328,2,東尾久店,TK,東京,東京,delivery,passed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703875,47039360,154,C39765066,90,27121351,2020-05-31 21:58:58,2020-05-31 22:42:58,1,2363,1,入間店,SA,埼玉,埼玉,takeout,payment
703876,61054188,94,C19465010,41,61513298,2020-05-31 21:58:58,2020-05-31 22:40:58,0,2112,2,鎌倉店,KN,神奈川,神奈川,delivery,passed
703877,45288914,11,C23883838,40,65359139,2020-05-31 21:58:58,2020-05-31 22:38:58,0,3838,2,江戸川店,TK,東京,東京,delivery,passed
703878,41608372,149,C48350551,43,42138977,2020-05-31 21:58:58,2020-05-31 22:52:58,0,1899,2,松戸店,CH,千葉,千葉,delivery,passed
703879,40316733,169,C49087342,61,59737067,2020-05-31 21:58:58,2020-05-31 22:08:58,0,3901,2,狭山店,SA,埼玉,埼玉,delivery,passed

In [12]:
order_data.columns

Index(['order_id', 'store_id', 'customer_id', 'coupon_cd', 'sales_detail_id',
       'order_accept_date', 'delivered_date', 'takeout_flag', 'total_amount',
       'status', 'store_name', 'area_cd', 'wide_area', 'narrow_area',
       'takeout_name', 'status_name'],
      dtype='object')

In [13]:
analyze_col_list = ["store_id", "customer_id", "coupon_cd", "order_accept_date", "delivered_date", "total_amount", "store_name", "wide_area", "narrow_area", "takeout_name", "status_name"]
analyze_data = order_data[analyze_col_list]
analyze_data

,store_id,customer_id,coupon_cd,order_accept_date,delivered_date,total_amount,store_name,wide_area,narrow_area,takeout_name,status_name
0,64,C44271355,49,2020-06-01 11:00:00,2020-06-01 11:55:00,2732,西東京店,東京,東京,delivery,passed
1,12,C98307866,98,2020-06-01 11:00:00,2020-06-01 11:52:00,2064,西葛西店,東京,東京,delivery,passed
2,174,C59484037,45,2020-06-01 11:00:00,2020-06-01 11:25:00,3900,新座店,埼玉,埼玉,delivery,passed
3,23,C57278332,70,2020-06-01 11:00:00,2020-06-01 11:45:00,2750,江東店,東京,東京,delivery,passed
4,7,C36890849,80,2020-06-01 11:00:00,2020-06-01 11:23:00,2328,東尾久店,東京,東京,delivery,passed
...,...,...,...,...,...,...,...,...,...,...,...
703875,154,C39765066,90,2020-05-31 21:58:58,2020-05-31 22:42:58,2363,入間店,埼玉,埼玉,takeout,payment
703876,94,C19465010,41,2020-05-31 21:58:58,2020-05-31 22:40:58,2112,鎌倉店,神奈川,神奈川,delivery,passed
703877,11,C23883838,40,2020-05-31 21:58:58,2020-05-31 22:38:58,3838,江戸川店,東京,東京,delivery,passed
703878,149,C48350551,43,2020-05-31 21:58:58,2020-05-31 22:52:58,1899,松戸店,千葉,千葉,delivery,passed
703879,169,C49087342,61,2020-05-31 21:58:58,2020-05-31 22:08:58,3901,狭山店,埼玉,埼玉,delivery,passed

### ノック１２：データの全体像を把握しよう

In [15]:
#データ統計量を確認
analyze_data.describe()

            store_id      coupon_cd   total_amount
count  574436.000000  574436.000000  574436.000000
mean       99.113844      49.478758    2960.087555
std        55.913615      28.888993     954.282731
min         1.000000       0.000000     698.000000
25%        51.000000      24.000000    2308.000000
50%        99.000000      49.000000    2808.000000
75%       147.000000      75.000000    3617.000000
max       196.000000      99.000000    5100.000000

In [16]:
# データ型を確認
analyze_data.dtypes

store_id              int64
customer_id          object
coupon_cd             int64
order_accept_date    object
delivered_date       object
total_amount          int64
store_name           object
wide_area            object
narrow_area          object
takeout_name         object
status_name          object
dtype: object

In [18]:
# データ型変更
analyze_data[["store_id", "coupon_cd"]] = analyze_data[["store_id", "coupon_cd"]].astype(str)

/Users/t/.pyenv/versions/3.8.5/lib/python3.8/site-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

> `(Warning:)`<br>
> analyze_dataの型を変えたのですが、本来は`analyze_data`の参照元である`order_data`の型を変えるべき、というのがワーニングの原因のようです。<br>
> (データをうまく整理できていればこの状況は回避できると思いますが、処理が込み入ってくると、そうも言っていられない場合があります。また、型変換は後からでもできますので、必要なタイミングで実施すれば良いと思います。)<br>
>
> あくまでも予備知識です。なるべくワーニングが出ない書き方を意識してみて下さい。

In [20]:
import warnings
warnings.filterwarnings("ignore")

In [19]:
analyze_data.dtypes

store_id             object
customer_id          object
coupon_cd            object
order_accept_date    object
delivered_date       object
total_amount          int64
store_name           object
wide_area            object
narrow_area          object
takeout_name         object
status_name          object
dtype: object

### ノック１３：月別の売上を集計してみよう

### ノック１４：月別の推移を可視化してみよう

### ノック１５：売上からヒストグラムを作成してみよう

### ノック１６：都道府県別の売上を集計して可視化しよう

### ノック１７：クラスタリングに向けてデータを加工しよう

### ノック１８：クラスタリングで店舗をグループ化してみよう

### ノック１９：グループの傾向を分析してみよう

### ノック２０：クラスタリングの結果をt-SNEで可視化しよう